body
	background #FFFFFF
	text-align center
	font-family Arial
	
h1
	font-size 48px
	color red
p
	width 80%
	margin 0 auto
span
	font-size 18px
	font-weight bold
	padding 10px
	background #CBCBCB
	margin 3px 3px 13px 3px
	box-sizing border-box
	display inline-block
	
.container
	width 80%
	margin 10px auto
	background #E4E4E4
	padding 20px